WebAPISampleProject/.vs/WebAPISampleProject/v17/.suo
/WebAPISampleProject/.vs/WebAPISampleProject
/WebAPISampleProject/bin/Debug/net8.0
/WebAPISampleProject/obj
/1. WebAPISampleProject/.vs
/1. WebAPISampleProject/bin/Debug/net8.0
/1. WebAPISampleProject/obj
/1.1 WebAPISampleProjectWIthVS2022/.vs
/1.1 WebAPISampleProjectWIthVS2022/bin/Debug/net8.0
/1.1 WebAPISampleProjectWIthVS2022/obj
