WebAPISampleProject/.vs/WebAPISampleProject/v17/.suo
/WebAPISampleProject/.vs/WebAPISampleProject
/WebAPISampleProject/bin/Debug/net8.0
/WebAPISampleProject/obj
/1. WebAPISampleProject/.vs
/1. WebAPISampleProject/bin/Debug/net8.0
/1. WebAPISampleProject/obj
/1.1 WebAPISampleProjectWIthVS2022/.vs
/1.1 WebAPISampleProjectWIthVS2022/bin/Debug/net8.0
/1.1 WebAPISampleProjectWIthVS2022/obj
/2. WebAPIRouting/.vs/ProjectEvaluation/webapirouting.metadata.v9.bin
/2. WebAPIRouting/.vs/ProjectEvaluation
/2. WebAPIRouting/.vs/WebAPIRouting/CopilotIndices/0.2.1657.32929
/2. WebAPIRouting/.vs/WebAPIRouting/DesignTimeBuild
/2. WebAPIRouting/.vs/WebAPIRouting/FileContentIndex
*.v2
/2. WebAPIRouting/.vs/WebAPIRouting/v17/.suo
*.json
/2. WebAPIRouting/.vs/WebAPIRouting/v17/DocumentLayout.json
/2. WebAPIRouting/obj/Debug/net8.0/WebAPIRouting.AssemblyInfo.cs
/2. WebAPIRouting/obj/Debug/net8.0/WebAPIRouting.AssemblyInfoInputs.cache
/AutoMapperUsageInWebAPI/.vs
/AutoMapperUsageInWebAPI/bin/Debug/net8.0
/AutoMapperUsageInWebAPI/obj
/SecurityTypesInASPNETCoreWebAPI/obj
/SecurityTypesInASPNETCoreWebAPI/bin/Debug/net8.0
/SecurityTypesInASPNETCoreWebAPI/.vs/SecurityTypesInASPNETCoreWebAPI
/4.1 DemoServerAppForHMAC/bin/Debug/net8.0
/4.1 DemoServerAppForHMAC/.vs
/4.1 DemoServerAppForHMAC/obj
/SecurityTypesInASPNETCoreWebAPI/.vs/ProjectEvaluation
